<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <handlers>
      <add name="staticFiles" verb="GET,HEAD" path="*.mp4" type="Infrastructure.Web.MVC.Handlers.StaticFileHandler"/>
    </handlers>
  </system.webServer>
  <system.web>
  </system.web>
</configuration>
