@{
    ViewBag.Title = "焊缝识别标注";
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;no-cache">
    <meta name="GENERATOR" content="Microsoft FrontPage 4.0">
    <meta name="ProgId" content="FrontPage.Editor.Document">
    <title>MxDraw控件</title>
    <script language="javascript" type="text/javascript" src="~/Scripts/mxcustom.js"></script>
</head>
<body topmargin="0" leftmargin="0">
    <p>


        <!--<input type="button" value="绘制直线" onclick="myclick()">
    <input type="button" value="绘制块" onclick="myclick1()">
    <input type="button" value="绘制实心三角形" onclick="myclick2()">
    <input type="button" value="获取线的属性" onclick="myclick3()">
    <input type="button" value="创建块" onclick="myclick4()">-->
        <input type="button" value="焊接符号识别" onclick="myclick5()">
       
        <a href="/WeldCategory/index"><i class="ace-icon glyphicon  glyphicon-credit-card"></i>焊缝类别标注</a></li>


    </p>
    <SCRIPT language="JavaScript">
        document.oncontextmenu = new Function('event.returnValue=false;'); //禁用右键
        function LoadMxDrawX(id, dwgfile, cabpath, msipath) {
            var s, classid, Sys = {}, ua = navigator.userAgent.toLowerCase();
            (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] : (s = ua.match(/trident\/([\d.]+)/)) ? Sys.ie9 = s[1] : (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] : (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] : (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] : (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0,
                classid = "74A777F8-7A8F-4e7c-AF47-7074828086E2",

                Sys.ie || Sys.ie9 ? (document.write("<!-- 用来产生编辑状态的ActiveX控件的JS脚本-->   "),
                    document.write("<!-- 因为微软的ActiveX新机制，需要一个外部引入的js-->   "),
                    document.write('<object id="' + id + '" classid="clsid:' + classid + '" '),
                    //document.write('width="85%" height="85%" align="left">   '),
                    document.write('codebase="' + cabpath + '" width="85%" height="85%" align="left">   '),
                    document.write('<param name="_Version" value="65536">  '),
                    document.write('<param name="_ExtentX" value="24262">  '),
                    document.write('<param name="_ExtentY" value="16219">  '),
                    document.write('<param name="_StockProps" value="0">'),
                    document.write('<param name="DwgFilePath" value="' + dwgfile + '" > '),
                    document.write('<param name="IsRuningAtIE" value="1">'),
                    document.write('<param name="EnablePrintCmd" value="1">  '),
                    document.write('<param name="ShowCommandWindow" value="1">   '),
                    document.write('<param name="ShowToolBars" value="1">  '),
                    document.write('<param name="ShowModelBar" value="1">'),
                    document.write('<param name="Iniset" value="READCONTENT=131072">  '),
                    document.write('<param name="ToolBarFiles" value="">'),
                    document.write('<param name="ShowMenuBar" value="1">'),
                    document.write('<param name="EnableUndo" value="1">'),
                    document.write('<param name="ShowPropertyWindow" value="1">'),
                    document.write('<SPAN STYLE="color:red">不能装载文档控件。请在检查浏览器的选项中检查浏览器的安全设置。请点击<a href=' + msipath + '>安装控件</a></SPAN>'),
                    document.write('</object>')) :

                    Sys.chrome ? (document.write('<object id="' + id + '" clsid="{' + classid + '}" '),
                        document.write('type="application/mxdraw-activex" width="85%" height="85%" align="left"> '),
                        document.write('<param name="_Version" value="65536">  '),
                        document.write('<param name="_ExtentX" value="24262">  '),
                        document.write('<param name="_ExtentY" value="16219">  '),
                        document.write('<param name="_StockProps" value="0">'),
                        document.write('<param name="DwgFilePath" value="' + dwgfile + '" > '),
                        document.write('<param name="IsRuningAtIE" value="1">'),
                        document.write('<param name="EnablePrintCmd" value="1">  '),
                        document.write('<param name="ShowCommandWindow" value="1">   '),
                        document.write('<param name="ShowToolBars" value="1">  '),
                        document.write('<param name="ShowModelBar" value="1">'),
                        document.write('<param name="Iniset" value="CHROME=Y,LimitDisplayObjectNumber=10">  '),
                        document.write('<param name="ToolBarFiles" value="">'),
                        document.write('<param name="ShowMenuBar" value="1">'),
                        document.write('<param name="EnableUndo" value="1">'),
                        document.write('<param name="ShowPropertyWindow" value="1">'),
                        document.write('<param name="Event_ImplementCommandEvent" value="DoCommandEventFunc">'),
                        document.write('<SPAN STYLE="color:red">不能装载文档控件,谷歌浏览器使用,下载MxChrome安装包到本地，安装后点击桌面 Chrome企业版 快捷方式启动。请点击<a href=' + msipath + '>安装控件</a></SPAN>'),
                        document.write('</object>')) :

                        Sys.firefox ? (document.write("<!-- 需要安装ieTab插件才能使用-->   "),
                            document.write("<!-- 右键弹出菜单，点击使用ieTab浏览> -->  "),

                            document.write('<div class="no_title">  不能装载文档控件。1.请在安装ieTab插件，2.然后请点击<a href=' + msipath + '>安装控件</a>, 3.然后右键弹出菜单，点击使用ieTab浏览 </div> ')

                        ) :
                            Sys.opera ? alert("sorry,ntko 暂时不支持opera!") :
                                Sys.safari && alert("sorry,ntko 暂时不支持safari!");
        }


        function isFireFox() {
            var s, classid, Sys = {}, ua = navigator.userAgent.toLowerCase();
            (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] : (s = ua.match(/trident\/([\d.]+)/)) ? Sys.ie9 = s[1] : (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] : (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] : (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] : (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;

            return Sys.firefox;

        }
    </SCRIPT>
    <script type="text/javascript">LoadMxDrawX("MxDrawXCtrl", "", "http://www.mxdraw.com/MxDrawX52.CAB#version=11,0,0,1", "http://www.mxcad.net:2080/MxChromex86Setup.exe");</script>
    <script>
        function myclick5() {
            FindWelding();
        }

        //初始化

        function InitMxDrawX() {

            var mxOcx = document.getElementById("MxDrawXCtrl");

            if (mxOcx) {

                if (!mxOcx.IsIniting()) {

                    clearInterval(mxtime);

                    // 控件初始化完成，需要在启动做的事，在这里做

                    // 启动时打开文件

                    //mxOcx.OpenWebDwgFile("http://www.mxcad.net:2080/test.dwg");
                    FindWelding()


                }

            }

        }

        mxtime = setInterval(InitMxDrawX, 100);
        //document.getElementById("MxDrawXCtrl").ImplementCommandEventFun = DoCommandEventFunc;
        function FindWelding() {
            var myDate = new Date();
            var strtimestart = myDate.toLocaleString();
            var mxOcx = document.all.item("MxDrawXCtrl");
            mxOcx.OpenDwgFile("D:\\中铁-许滨\\图纸\\1-143.dwg");
            //--1-----------------------获取箭头--------------------------0724试验--
            //实例化一个构造选择集进行过滤,该类封装了选择集及其处理函数。
            var ss = mxOcx.NewSelectionSet();
            //构造一个过滤链表
            var spFilte = mxOcx.NewResbuf();
            spFilte.AddStringEx("HATCH", 5020);
            //得到当前空间的所有实体
            ss.AllSelect(spFilte);
            var ArrowArray = [];

            for (var i = 0; i < ss.Count; i++) {
                var ent = ss.Item(i);
                var HatchArrow = ent;
                var PolylineArray = HatchArrow.GetPolylines();
                var PAnum = PolylineArray.Count;
                if (PAnum == 1) {
                    var polyline = PolylineArray.AtObject(0);
                    var num = polyline.numVerts;
                    if (num == 4) {
                        var pt1 = polyline.GetPointAt(0);
                        var pt2 = polyline.GetPointAt(1);
                        var pt3 = polyline.GetPointAt(2);
                        var pt4 = polyline.GetPointAt(3);
                        if (pt1.x == pt4.x && pt1.y == pt4.y)//相同
                        {
                            var mL1 = pt1.DistanceTo(pt2);
                            var mL2 = pt1.DistanceTo(pt3);
                            var mL3 = pt2.DistanceTo(pt3);
                            if ((mL1 <= mL2 + 0.07 && mL1 >= mL2 - 0.07) || (mL2 <= mL1 + 0.07 && mL2 >= mL1 - 0.07)) {
                                var x = (pt2.x + pt3.x) / 2;
                                var y = (pt2.y + pt3.y) / 2;
                                var midP = mxOcx.NewPoint();
                                midP.x = x;
                                midP.y = y;
                                var MObjectID = HatchArrow.ObjectID;
                                var myArrowtest = new myArrow(MObjectID, pt1, pt2, pt3, midP)
                                ArrowArray[ArrowArray.length] = myArrowtest;
                            }
                            else if ((mL2 <= mL3 + 0.07 && mL2 >= mL3 - 0.07) || (mL3 <= mL2 + 0.07 && mL3 >= mL2 - 0.07)) {
                                var x = (pt1.x + pt2.x) / 2;
                                var y = (pt1.y + pt2.y) / 2;
                                var midP = mxOcx.NewPoint();
                                midP.x = x;
                                midP.y = y;
                                var MObjectID = HatchArrow.ObjectID;
                                var myArrowtest = new myArrow(MObjectID, pt3, pt1, pt2, midP)
                                ArrowArray[ArrowArray.length] = myArrowtest;
                            }
                            else if ((mL1 <= mL3 + 0.07 && mL1 >= mL3 - 0.07) || (mL3 <= mL1 + 0.07 && mL3 >= mL1 - 0.07)) {
                                var x = (pt1.x + pt3.x) / 2;
                                var y = (pt1.y + pt3.y) / 2;
                                var midP = mxOcx.NewPoint();
                                midP.x = x;
                                midP.y = y;
                                var MObjectID = HatchArrow.ObjectID;
                                var myArrowtest = new myArrow(MObjectID, pt2, pt1, pt3, midP)
                                ArrowArray[ArrowArray.length] = myArrowtest;
                            }

                        }
                    }
                }
            }
            var NSArrowArray = DeletSameArrow(ArrowArray)
            //--2---------------------------------------------------
            var sPL = mxOcx.NewSelectionSet();
            //构造一个过滤链表
            var spFiltePL = mxOcx.NewResbuf();
            spFiltePL.AddStringEx("LWPOLYLINE", 5020);
            //得到当前空间的所有实体
            sPL.AllSelect(spFiltePL);
            var PolyLArray2 = [];
            var PolyLArray3 = [];
            var PolyLArray4_10 = [];

            for (var i = 0; i < sPL.Count; i++) {
                var ent = sPL.Item(i);
                var mployLine = ent;
                if (mployLine.numVerts == 2) {
                    PolyLArray2[PolyLArray2.length] = mployLine;
                }
                else if (mployLine.numVerts == 3) {
                    PolyLArray3[PolyLArray3.length] = mployLine;
                }
                else if (mployLine.numVerts >= 4 && mployLine.numVerts <= 10) {
                    PolyLArray4_10[PolyLArray4_10.length] = mployLine;
                }
            }
            //删除重复的线
            var NS_PolylineArray2 = DeletSamePolyLine(PolyLArray2);
            var NS_PolylineArray3 = DeletSamePolyLine(PolyLArray3);
            var NS_PolylineArray4_10 = DeletSamePolyLine(PolyLArray4_10);
            //找引线
            var myDimesArray = GetDimensArrowLine(NSArrowArray, NS_PolylineArray2, NS_PolylineArray3);
            var mDimNum = myDimesArray.length;
            //---3-------------------------------------------------
            var myTempWeldingArray = [];
            //找引线
            var YX_Length_Max = 0;
            for (var i = 0; i < mDimNum; i++) {
                if (myDimesArray[i].myCAnnotationLine.myPolyPNum == 3) {

                    if (myDimesArray[i].myCAnnotationLine.myPolyCHSE == "Start") {
                        if (IsHorizontal(myDimesArray[i].myCAnnotationLine.myPolyEndP, myDimesArray[i].myCAnnotationLine.myPolyMid)) {
                            var Hlength = GetDisFromTwoPoint(myDimesArray[i].myCAnnotationLine.myPolyEndP, myDimesArray[i].myCAnnotationLine.myPolyMid)
                            var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, null, Hlength,
                                myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 1, myDimesArray[i].myCAnnotationLine.myPolyMid,
                                myDimesArray[i].myCAnnotationLine.myPolyEndP, null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                            YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                            myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                        }
                    }
                    else if (myDimesArray[i].myCAnnotationLine.myPolyCHSE == "End") {
                        if (IsHorizontal(myDimesArray[i].myCAnnotationLine.myPolyStartP, myDimesArray[i].myCAnnotationLine.myPolyMid)) {
                            var Hlength = GetDisFromTwoPoint(myDimesArray[i].myCAnnotationLine.myPolyStartP, myDimesArray[i].myCAnnotationLine.myPolyMid)
                            var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, null, Hlength,
                                myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 1, myDimesArray[i].myCAnnotationLine.myPolyMid,
                                myDimesArray[i].myCAnnotationLine.myPolyStartP, null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                            YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                            myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                        }
                    }

                }
                else if (myDimesArray[i].myCAnnotationLine.myPolyPNum == 2) {

                    if (CheckLineType(myDimesArray[i].myCAnnotationLine.myPolyStartP, myDimesArray[i].myCAnnotationLine.myPolyEndP)) {
                        var mL_line = myDimesArray[i].myCAnnotationLine

                        var TwoNumPL = NS_PolylineArray2.length
                        for (var j = 0; j < TwoNumPL; j++) {

                            if (IsHorizontal(NS_PolylineArray2[j].GetPointAt(0), NS_PolylineArray2[j].GetPointAt(1))) {
                                if (mL_line.myPolyCHSE == "Start") {
                                    if (IsNearPoint(mL_line.myPolyEndP, NS_PolylineArray2[j].GetPointAt(0))) {
                                        var Hlength = GetDisFromTwoPoint(mL_line.myPolyEndP, NS_PolylineArray2[j].GetPointAt(1))
                                        var mtline = new myPolyLine(NS_PolylineArray2[j].ObjectID, 2, NS_PolylineArray2[j].GetPointAt(0),
                                            NS_PolylineArray2[j].GetPointAt(1), null, "Start")
                                        var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, mtline, Hlength,
                                            myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 2, myDimesArray[i].myCAnnotationLine.myPolyEndP,
                                            NS_PolylineArray2[j].GetPointAt(1), null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                            0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                                        YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                                        myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                                    }
                                    else if (IsNearPoint(mL_line.myPolyEndP, NS_PolylineArray2[j].GetPointAt(1))) {
                                        var Hlength = GetDisFromTwoPoint(mL_line.myPolyEndP, NS_PolylineArray2[j].GetPointAt(0))
                                        var mtline = new myPolyLine(NS_PolylineArray2[j].ObjectID, 2, NS_PolylineArray2[j].GetPointAt(0),
                                            NS_PolylineArray2[j].GetPointAt(1), null, "End")
                                        var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, mtline, Hlength,
                                            myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 2, myDimesArray[i].myCAnnotationLine.myPolyEndP,
                                            NS_PolylineArray2[j].GetPointAt(0), null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                            0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                                        YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                                        myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                                    }
                                }
                                else if (mL_line.myPolyCHSE == "End") {
                                    if (IsNearPoint(mL_line.myPolyStartP, NS_PolylineArray2[j].GetPointAt(0))) {
                                        var Hlength = GetDisFromTwoPoint(mL_line.myPolyStartP, NS_PolylineArray2[j].GetPointAt(1))
                                        var mtline = new myPolyLine(NS_PolylineArray2[j].ObjectID, 2, NS_PolylineArray2[j].GetPointAt(0),
                                            NS_PolylineArray2[j].GetPointAt(1), null, "End")
                                        var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, mtline, Hlength,
                                            myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 2, myDimesArray[i].myCAnnotationLine.myPolyStartP,
                                            NS_PolylineArray2[j].GetPointAt(1), null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                            0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                                        YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                                        myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                                    }
                                    else if (IsNearPoint(mL_line.myPolyStartP, NS_PolylineArray2[j].GetPointAt(1))) {
                                        var Hlength = GetDisFromTwoPoint(mL_line.myPolyStartP, NS_PolylineArray2[j].GetPointAt(0))
                                        var mtline = new myPolyLine(NS_PolylineArray2[j].ObjectID, 2, NS_PolylineArray2[j].GetPointAt(0),
                                            NS_PolylineArray2[j].GetPointAt(1), null, "End")
                                        var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, mtline, Hlength,
                                            myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 2, myDimesArray[i].myCAnnotationLine.myPolyStartP,
                                            NS_PolylineArray2[j].GetPointAt(0), null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                            0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                                        YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                                        myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                                    }
                                }
                            }
                        }

                        var ThreeNumPL = NS_PolylineArray3.length
                        for (var t = 0; t < ThreeNumPL; t++) {

                            if (IsHorizontal(NS_PolylineArray3[t].GetPointAt(1), NS_PolylineArray3[t].GetPointAt(2))) {
                                if (mL_line.myPolyCHSE == "Start") {
                                    if (IsNearPoint(mL_line.myPolyEndP, NS_PolylineArray3[t].GetPointAt(1)))//中点重合
                                    {
                                        var Hlength = GetDisFromTwoPoint(mL_line.myPolyEndP, NS_PolylineArray3[t].GetPointAt(2))
                                        var mtline = new myPolyLine(NS_PolylineArray3[t].ObjectID, 3, NS_PolylineArray3[t].GetPointAt(0),
                                            NS_PolylineArray3[t].GetPointAt(2), NS_PolylineArray3[t].GetPointAt(1), "Mid")
                                        var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, mtline, Hlength,
                                            myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 2, myDimesArray[i].myCAnnotationLine.myPolyEndP,
                                            NS_PolylineArray3[t].GetPointAt(2), null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                            0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                                        YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                                        myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                                    }
                                }
                                else if (mL_line.myPolyCHSE == "End") {
                                    if (IsNearPoint(mL_line.myPolyStartP, NS_PolylineArray3[t].GetPointAt(1))) {
                                        var Hlength = GetDisFromTwoPoint(mL_line.myPolyStartP, NS_PolylineArray3[t].GetPointAt(2))
                                        var mtline = new myPolyLine(NS_PolylineArray3[t].ObjectID, 3, NS_PolylineArray3[t].GetPointAt(0),
                                            NS_PolylineArray3[t].GetPointAt(2), NS_PolylineArray3[t].GetPointAt(1), "Mid")
                                        var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, mtline, Hlength,
                                            myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 2, myDimesArray[i].myCAnnotationLine.myPolyStartP,
                                            NS_PolylineArray3[t].GetPointAt(2), null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                            0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                                        YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                                        myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                                    }
                                }
                            }

                            else if (IsHorizontal(NS_PolylineArray3[t].GetPointAt(1), NS_PolylineArray3[t].GetPointAt(0))) {
                                if (mL_line.myPolyCHSE == "Start") {
                                    if (IsNearPoint(mL_line.myPolyEndP, NS_PolylineArray3[t].GetPointAt(1))) {
                                        var Hlength = GetDisFromTwoPoint(mL_line.myPolyEndP, NS_PolylineArray3[t].GetPointAt(0))
                                        var mtline = new myPolyLine(NS_PolylineArray3[t].ObjectID, 3, NS_PolylineArray3[t].GetPointAt(0),
                                            NS_PolylineArray3[t].GetPointAt(2), NS_PolylineArray3[t].GetPointAt(1), "Mid")
                                        var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, mtline, Hlength,
                                            myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 2, myDimesArray[i].myCAnnotationLine.myPolyEndP,
                                            NS_PolylineArray3[t].GetPointAt(0), null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                            0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                                        YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                                        myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                                    }
                                }
                                else if (mL_line.myPolyCHSE == "End") {
                                    if (IsNearPoint(mL_line.myPolyStartP, NS_PolylineArray3[t].GetPointAt(1))) {
                                        var Hlength = GetDisFromTwoPoint(mL_line.myPolyStartP, NS_PolylineArray3[t].GetPointAt(0))
                                        var mtline = new myPolyLine(NS_PolylineArray3[t].ObjectID, 3, NS_PolylineArray3[t].GetPointAt(0),
                                            NS_PolylineArray3[t].GetPointAt(2), NS_PolylineArray3[t].GetPointAt(1), "Mid")
                                        var mtempWeld = new myWelding(myDimesArray[i].myCAnnotationArrow, myDimesArray[i].myCAnnotationLine, mtline, Hlength,
                                            myDimesArray[i].myCAnnotationCHSE, myDimesArray[i].myCAnnotationCHP, 2, myDimesArray[i].myCAnnotationLine.myPolyStartP,
                                            NS_PolylineArray3[t].GetPointAt(0), null, null, null, 0, null, null, null, null, 0, null, null, null, "", null, "", null, "", 0, null, "", null, "", null, "",
                                            0, null, null, 0, null, null, null, 0, null, null, null, null, null, null, null, null, null, null, 0, null, null, null, 0)
                                        YX_Length_Max = GetMaxData(YX_Length_Max, Hlength)
                                        myTempWeldingArray[myTempWeldingArray.length] = mtempWeld
                                    }
                                }
                            }
                        }
                    }

                }
            }
            //-----4-------------筛选------------------
            var myWeldingArray = GetIntersectLineArray(myTempWeldingArray, NS_PolylineArray2, NS_PolylineArray3, NS_PolylineArray4_10)
            FirstDivideWelding(myWeldingArray, NS_PolylineArray2, NS_PolylineArray3, NS_PolylineArray4_10)
            mxOcx.SaveDwgFile("D:\\中铁-许滨\\图纸\\测试保存\\new-1.dwg");
            var myDateEnd = new Date();
            var strtimesend = myDateEnd.toLocaleTimeString();
            alert("开始时间：" + strtimestart + ",结束时间：" + strtimesend)
        }

        function GetDimensArrowLine(myArrowDatas, TwoP_Polyline, ThreeP_Polyline) {
            var num = myArrowDatas.length;


            var mDimesArray = [];
            for (var j = 0; j < num; j++) {
                var sameNum = 0;
                var twoNum = TwoP_Polyline.length;
                var threeNum = ThreeP_Polyline.length;

                var tempPolyLineArray = [];
                for (var i = 0; i < twoNum; i++) {
                    if (IsNearPoint(TwoP_Polyline[i].GetPointAt(0), myArrowDatas[j].myArrowMid)) {
                        var mytempPL = new myPolyLine(TwoP_Polyline[i].ObjectID, 2, TwoP_Polyline[i].GetPointAt(0), TwoP_Polyline[i].GetPointAt(1), null, "Start");
                        tempPolyLineArray[tempPolyLineArray.length] = mytempPL;
                        sameNum = sameNum + 1;
                    }
                    else if (IsNearPoint(TwoP_Polyline[i].GetPointAt(1), myArrowDatas[j].myArrowMid)) {
                        var mytempPL = new myPolyLine(TwoP_Polyline[i].ObjectID, 2, TwoP_Polyline[i].GetPointAt(0), TwoP_Polyline[i].GetPointAt(1), null, "End");
                        tempPolyLineArray[tempPolyLineArray.length] = mytempPL;
                        sameNum = sameNum + 1;
                    }
                }
                for (var t = 0; t < threeNum; t++) {
                    if (IsNearPoint(ThreeP_Polyline[t].GetPointAt(0), myArrowDatas[j].myArrowMid)) {
                        var mytempPL = new myPolyLine(ThreeP_Polyline[t].ObjectID, 3, ThreeP_Polyline[t].GetPointAt(0), ThreeP_Polyline[t].GetPointAt(2), ThreeP_Polyline[t].GetPointAt(1), "Start");
                        tempPolyLineArray[tempPolyLineArray.length] = mytempPL;
                        sameNum = sameNum + 1;
                    }
                    else if (IsNearPoint(ThreeP_Polyline[t].GetPointAt(2), myArrowDatas[j].myArrowMid)) {
                        var mytempPL = new myPolyLine(ThreeP_Polyline[t].ObjectID, 3, ThreeP_Polyline[t].GetPointAt(0), ThreeP_Polyline[t].GetPointAt(2), ThreeP_Polyline[t].GetPointAt(1), "End");
                        tempPolyLineArray[tempPolyLineArray.length] = mytempPL;
                        sameNum = sameNum + 1;
                    }
                }
                if (sameNum == 1) {

                    if (tempPolyLineArray[0].myPolyCHSE == "Start") {
                        var mDim = new myCAnnotation(myArrowDatas[j], tempPolyLineArray[0],
                            tempPolyLineArray[0].myPolyCHSE, tempPolyLineArray[0].myPolyStartP)
                        mDimesArray[mDimesArray.length] = mDim;
                    }
                    else {
                        var mDim = new myCAnnotation(myArrowDatas[j], tempPolyLineArray[0],
                            tempPolyLineArray[0].myPolyCHSE, tempPolyLineArray[0].myPolyEndP);
                        mDimesArray[mDimesArray.length] = mDim;
                    }

                }

                else if (sameNum == 2) {

                }
            }
            return mDimesArray;
        }
        //---4----筛选
        function GetIntersectLineArray(myWeldArray, TwoP_PolyLArray, ThreeP_PolyLArray, FourMP_PolyLArray) {
            var num = myWeldArray.length
            for (var i = 0; i < num; i++) {
                var myGuaiP = myWeldArray[i].myWelGUIP
                var myWeiP = myWeldArray[i].myWelWEIP
                for (var twoi = 0; twoi < TwoP_PolyLArray.length; twoi++) {

                    if (TwoP_PolyLArray[twoi].ObjectID == myWeldArray[i].myWelYINline1.myPolyLineObjectID) {
                        continue;
                    }
                    else if (myWeldArray[i].myWelYINnum == 2 && TwoP_PolyLArray[twoi].ObjectID == myWeldArray[i].myWelYINline2.myPolyLineObjectID) {
                        continue;
                    }

                    else if (CheckLineInHLine(TwoP_PolyLArray[twoi].GetPointAt(0), TwoP_PolyLArray[twoi].GetPointAt(1), myGuaiP, myWeiP)) {
                        TwoP_PolyLArray.splice(twoi, 1)
                        twoi = twoi - 1;
                        continue
                    }


                    var mtempLine = new myPolyLine(TwoP_PolyLArray[twoi].ObjectID, 2, TwoP_PolyLArray[twoi].GetPointAt(0),
                        TwoP_PolyLArray[twoi].GetPointAt(1), null, "")


                    if (IsNearPoint(myWeiP, TwoP_PolyLArray[twoi].GetPointAt(0))) {
                        if (myWeldArray[i].myWelWH_num == 0) {

                            myWeldArray[i].myWelWHline_1 = mtempLine
                            myWeldArray[i].myWelWHline_1.myPolyCHSE = "Start"
                            myWeldArray[i].myWelWH_num = 1;
                            myWeldArray[i].myWelWHPoint_1 = mtempLine.myPolyStartP
                        }
                        else if (myWeldArray[i].myWelWH_num == 1) {
                            myWeldArray[i].myWelWHline_2 = mtempLine
                            myWeldArray[i].myWelWHline_2.myPolyCHSE = "Start"
                            myWeldArray[i].myWelWH_num = 2;
                            myWeldArray[i].myWelWHPoint_2 = mtempLine.myPolyStartP
                        }
                    }
                    else if (IsNearPoint(myWeiP, TwoP_PolyLArray[twoi].GetPointAt(1))) {
                        if (myWeldArray[i].myWelWH_num == 0) {
                            myWeldArray[i].myWelWHline_1 = mtempLine
                            myWeldArray[i].myWelWHline_1.myPolyCHSE = "End"
                            myWeldArray[i].myWelWH_num = 1;
                            myWeldArray[i].myWelWHPoint_1 = mtempLine.myPolyEndP
                        }
                        else if (myWeldArray[i].myWelWH_num == 1) {
                            myWeldArray[i].myWelWHline_2 = mtempLine
                            myWeldArray[i].myWelWHline_2.myPolyCHSE = "End"
                            myWeldArray[i].myWelWH_num = 2;
                            myWeldArray[i].myWelWHPoint_2 = mtempLine.myPolyEndP
                        }
                    }

                    if (IsPointOnLine(TwoP_PolyLArray[twoi].GetPointAt(0), myGuaiP, myWeiP)) {

                        var tempDisStr = GetPositionOfLine(TwoP_PolyLArray[twoi], myGuaiP, myWeiP)
                        if (tempDisStr == "up") {
                            if (myWeldArray[i].myWelMS_num == 0) {
                                myWeldArray[i].myWelMSline_1 = mtempLine
                                myWeldArray[i].myWelMSStorEdorMd_1 = "Start"
                                myWeldArray[i].myWelMS_num = 1
                            }
                            else if (myWeldArray[i].myWelMS_num == 1) {
                                myWeldArray[i].myWelMSline_2 = mtempLine
                                myWeldArray[i].myWelMSStorEdorMd_2 = "Start"
                                myWeldArray[i].myWelMS_num = 2
                            }
                            else if (myWeldArray[i].myWelMS_num == 2) {
                                myWeldArray[i].myWelMSline_3 = mtempLine
                                myWeldArray[i].myWelMSStorEdorMd_3 = "Start"
                                myWeldArray[i].myWelMS_num = 3
                            }
                        }
                        else if (tempDisStr == "down") {
                            if (myWeldArray[i].myWelMX_num == 0) {
                                myWeldArray[i].myWelMXline_1 = mtempLine
                                myWeldArray[i].myWelMXStorEdorMd_1 = "Start"
                                myWeldArray[i].myWelMX_num = 1
                            }
                            else if (myWeldArray[i].myWelMX_num == 1) {
                                myWeldArray[i].myWelMXline_2 = mtempLine
                                myWeldArray[i].myWelMXStorEdorMd_2 = "Start"
                                myWeldArray[i].myWelMX_num = 2
                            }
                            else if (myWeldArray[i].myWelMX_num == 2) {
                                myWeldArray[i].myWelMXline_3 = mtempLine
                                myWeldArray[i].myWelMXStorEdorMd_3 = "Start"
                                myWeldArray[i].myWelMX_num = 3
                            }
                        }
                        else if (tempDisStr == "mid") {
                            if (myWeldArray[i].myWelMid_num == 0) {
                                myWeldArray[i].myWelMidline_1 = mtempLine
                                myWeldArray[i].myWelMid_num = 1
                            }
                            else if (myWeldArray[i].myWelMid_num == 1) {
                                myWeldArray[i].myWelMidline_2 = mtempLine
                                myWeldArray[i].myWelMid_num = 2
                            }
                        }
                    }

                    else if (IsPointOnLine(TwoP_PolyLArray[twoi].GetPointAt(1), myGuaiP, myWeiP)) {
                        var tempDisStr = GetPositionOfLine(TwoP_PolyLArray[twoi], myGuaiP, myWeiP)
                        if (tempDisStr == "up") {
                            if (myWeldArray[i].myWelMS_num == 0) {
                                myWeldArray[i].myWelMSline_1 = mtempLine
                                myWeldArray[i].myWelMSStorEdorMd_1 = "End"
                                myWeldArray[i].myWelMS_num = 1
                            }
                            else if (myWeldArray[i].myWelMS_num == 1) {
                                myWeldArray[i].myWelMSline_2 = mtempLine
                                myWeldArray[i].myWelMSStorEdorMd_2 = "End"
                                myWeldArray[i].myWelMS_num = 2
                            }
                            else if (myWeldArray[i].myWelMS_num == 2) {
                                myWeldArray[i].myWelMSline_3 = mtempLine
                                myWeldArray[i].myWelMSStorEdorMd_3 = "End"
                                myWeldArray[i].myWelMS_num = 3
                            }
                        }
                        else if (tempDisStr == "down") {
                            if (myWeldArray[i].myWelMX_num == 0) {
                                myWeldArray[i].myWelMXline_1 = mtempLine
                                myWeldArray[i].myWelMXStorEdorMd_1 = "End"
                                myWeldArray[i].myWelMX_num = 1
                            }
                            else if (myWeldArray[i].myWelMX_num == 1) {
                                myWeldArray[i].myWelMXline_2 = mtempLine
                                myWeldArray[i].myWelMXStorEdorMd_2 = "End"
                                myWeldArray[i].myWelMX_num = 2
                            }
                            else if (myWeldArray[i].myWelMX_num == 2) {
                                myWeldArray[i].myWelMXline_3 = mtempLine
                                myWeldArray[i].myWelMXStorEdorMd_3 = "End"
                                myWeldArray[i].myWelMX_num = 3
                            }
                        }
                        else if (tempDisStr == "mid") {
                            if (myWeldArray[i].myWelMid_num == 0) {
                                myWeldArray[i].myWelMidline_1 = mtempLine
                                myWeldArray[i].myWelMid_num = 1
                            }
                            else if (myWeldArray[i].myWelMid_num == 1) {
                                myWeldArray[i].myWelMidline_2 = mtempLine
                                myWeldArray[i].myWelMid_num = 2
                            }
                        }
                    }

                    else if (IsLineInterWithHYinLine(TwoP_PolyLArray[twoi].GetPointAt(0), TwoP_PolyLArray[twoi].GetPointAt(1), myGuaiP, myWeiP)) {
                        var str = GetPositionOfLine(TwoP_PolyLArray[twoi], myGuaiP, myWeiP)
                        if (str == "mid") {
                            if (myWeldArray[i].myWelMid_num == 0) {
                                myWeldArray[i].myWelMidline_1 = mtempLine
                                myWeldArray[i].myWelMid_num = 1
                            }
                            else if (myWeldArray[i].myWelMid_num == 1) {
                                myWeldArray[i].myWelMidline_2 = mtempLine
                                myWeldArray[i].myWelMid_num = 2
                            }
                        }
                    }
                }

                for (var threei = 0; threei < ThreeP_PolyLArray.length; threei++) {
                    if (ThreeP_PolyLArray[threei].ObjectID == myWeldArray[i].myWelYINline1.myPolyLineObjectID) {
                        continue;
                    }
                    else if (myWeldArray[i].myWelYINnum == 2 && ThreeP_PolyLArray[threei].ObjectID == myWeldArray[i].myWelYINline2.myPolyLineObjectID) {
                        continue;
                    }

                    var mtempline3 = new myPolyLine(ThreeP_PolyLArray[threei].ObjectID, 3, ThreeP_PolyLArray[threei].GetPointAt(0),
                        ThreeP_PolyLArray[threei].GetPointAt(2), ThreeP_PolyLArray[threei].GetPointAt(1), "")


                    if (!IsNearPoint(ThreeP_PolyLArray[threei].GetPointAt(1), myGuaiP)) {
                        if (IsNearPoint(myWeiP, ThreeP_PolyLArray[threei].GetPointAt(0))) {
                            if (myWeldArray[i].myWelWH_num == 0) {
                                myWeldArray[i].myWelWHline_1 = mtempline3
                                myWeldArray[i].myWelWHline_1.myPolyCHSE = "Start"
                                myWeldArray[i].myWelWH_num = 1;
                                myWeldArray[i].myWelWHPoint_1 = ThreeP_PolyLArray[threei].GetPointAt(0)
                            }
                            else if (myWeldArray[i].myWelWH_num == 1) {
                                myWeldArray[i].myWelWHline_2 = mtempline3
                                myWeldArray[i].myWelWHline_2.myPolyCHSE = "Start"
                                myWeldArray[i].myWelWH_num = 2;
                                myWeldArray[i].myWelWHPoint_2 = ThreeP_PolyLArray[threei].GetPointAt(0)
                            }
                        }
                        else if (IsNearPoint(myWeiP, ThreeP_PolyLArray[threei].GetPointAt(2))) {
                            if (myWeldArray[i].myWelWH_num == 0) {
                                myWeldArray[i].myWelWHline_1 = mtempline3
                                myWeldArray[i].myWelWHline_1.myPolyCHSE = "End"
                                myWeldArray[i].myWelWH_num = 1;
                                myWeldArray[i].myWelWHPoint_1 = ThreeP_PolyLArray[threei].GetPointAt(2)
                            }
                            else if (myWeldArray[i].myWelWH_num == 1) {
                                myWeldArray[i].myWelWHline_2 = mtempline3
                                myWeldArray[i].myWelWHline_2.myPolyCHSE = "End"
                                myWeldArray[i].myWelWH_num = 2;
                                myWeldArray[i].myWelWHPoint_2 = ThreeP_PolyLArray[threei].GetPointAt(2)
                            }
                        }

                        else {
                            if (IsNearPoint(myWeiP, ThreeP_PolyLArray[threei].GetPointAt(1))) {
                                if (myWeldArray[i].myWelWH_num == 0) {
                                    myWeldArray[i].myWelWHline_1 = mtempline3
                                    myWeldArray[i].myWelWHline_1.myPolyCHSE = "Mid"
                                    myWeldArray[i].myWelWH_num = 1;
                                    myWeldArray[i].myWelWHPoint_1 = ThreeP_PolyLArray[threei].GetPointAt(1)
                                }
                                else if (myWeldArray[i].myWelWH_num == 1) {
                                    myWeldArray[i].myWelWHline_2 = mtempline3
                                    myWeldArray[i].myWelWHline_2.myPolyCHSE = "Mid"
                                    myWeldArray[i].myWelWH_num = 2;
                                    myWeldArray[i].myWelWHPoint_2 = ThreeP_PolyLArray[threei].GetPointAt(1)
                                }
                            }
                        }
                    }

                    if (IsPointOnLine(ThreeP_PolyLArray[threei].GetPointAt(0), myGuaiP, myWeiP)) {

                        var tempDisStr = GetPositionOfLine(ThreeP_PolyLArray[threei], myGuaiP, myWeiP)
                        if (tempDisStr == "up") {
                            if (myWeldArray[i].myWelMS_num == 0) {
                                myWeldArray[i].myWelMSline_1 = mtempline3
                                myWeldArray[i].myWelMSStorEdorMd_1 = "Start"
                                myWeldArray[i].myWelMS_num = 1
                            }
                            else if (myWeldArray[i].myWelMS_num == 1) {
                                myWeldArray[i].myWelMSline_2 = mtempline3
                                myWeldArray[i].myWelMSStorEdorMd_2 = "Start"
                                myWeldArray[i].myWelMS_num = 2
                            }
                            else if (myWeldArray[i].myWelMS_num == 2) {
                                myWeldArray[i].myWelMSline_3 = mtempline3
                                myWeldArray[i].myWelMSStorEdorMd_3 = "Start"
                                myWeldArray[i].myWelMS_num = 3
                            }
                        }
                        else if (tempDisStr == "down") {
                            if (myWeldArray[i].myWelMX_num == 0) {
                                myWeldArray[i].myWelMXline_1 = mtempline3
                                myWeldArray[i].myWelMXStorEdorMd_1 = "Start"
                                myWeldArray[i].myWelMX_num = 1
                            }
                            else if (myWeldArray[i].myWelMX_num == 1) {
                                myWeldArray[i].myWelMXline_2 = mtempline3
                                myWeldArray[i].myWelMXStorEdorMd_2 = "Start"
                                myWeldArray[i].myWelMX_num = 2
                            }
                            else if (myWeldArray[i].myWelMX_num == 2) {
                                myWeldArray[i].myWelMXline_3 = mtempline3
                                myWeldArray[i].myWelMXStorEdorMd_3 = "Start"
                                myWeldArray[i].myWelMX_num = 3
                            }
                        }
                        else if (tempDisStr == "mid") {
                            if (myWeldArray[i].myWelMid_num == 0) {
                                myWeldArray[i].myWelMidline_1 = mtempline3
                                myWeldArray[i].myWelMid_num = 1
                            }
                            else if (myWeldArray[i].myWelMid_num == 1) {
                                myWeldArray[i].myWelMidline_2 = mtempline3
                                myWeldArray[i].myWelMid_num = 2
                            }
                        }
                    }

                    else if (IsPointOnLine(ThreeP_PolyLArray[threei].GetPointAt(2), myGuaiP, myWeiP)) {

                        var tempDisStr = GetPositionOfLine(ThreeP_PolyLArray[threei], myGuaiP, myWeiP)
                        if (tempDisStr == "up") {
                            if (myWeldArray[i].myWelMS_num == 0) {
                                myWeldArray[i].myWelMSline_1 = mtempline3
                                myWeldArray[i].myWelMSStorEdorMd_1 = "End"
                                myWeldArray[i].myWelMS_num = 1
                            }
                            else if (myWeldArray[i].myWelMS_num == 1) {
                                myWeldArray[i].myWelMSline_2 = mtempline3
                                myWeldArray[i].myWelMSStorEdorMd_2 = "End"
                                myWeldArray[i].myWelMS_num = 2
                            }
                            else if (myWeldArray[i].myWelMS_num == 2) {
                                myWeldArray[i].myWelMSline_3 = mtempline3
                                myWeldArray[i].myWelMSStorEdorMd_3 = "End"
                                myWeldArray[i].myWelMS_num = 3
                            }
                        }
                        else if (tempDisStr == "down") {
                            if (myWeldArray[i].myWelMX_num == 0) {
                                myWeldArray[i].myWelMXline_1 = mtempline3
                                myWeldArray[i].myWelMXStorEdorMd_1 = "End"
                                myWeldArray[i].myWelMX_num = 1
                            }
                            else if (myWeldArray[i].myWelMX_num == 1) {
                                myWeldArray[i].myWelMXline_2 = mtempline3
                                myWeldArray[i].myWelMXStorEdorMd_2 = "End"
                                myWeldArray[i].myWelMX_num = 2
                            }
                            else if (myWeldArray[i].myWelMX_num == 2) {
                                myWeldArray[i].myWelMXline_3 = mtempline3
                                myWeldArray[i].myWelMXStorEdorMd_3 = "End"
                                myWeldArray[i].myWelMX_num = 3
                            }
                        }
                        else if (tempDisStr == "mid") {
                            if (myWeldArray[i].myWelMid_num == 0) {
                                myWeldArray[i].myWelMidline_1 = mtempline3
                                myWeldArray[i].myWelMid_num = 1
                            }
                            else if (myWeldArray[i].myWelMid_num == 1) {
                                myWeldArray[i].myWelMidline_2 = mtempline3
                                myWeldArray[i].myWelMid_num = 2
                            }
                        }
                    }
                    else {

                        if (IsPointOnLine(ThreeP_PolyLArray[threei].GetPointAt(1), myGuaiP, myWeiP)) {
                            var tempDisStr = GetPositionOfLine(ThreeP_PolyLArray[threei], myGuaiP, myWeiP)
                            if (tempDisStr == "up") {
                                if (myWeldArray[i].myWelMS_num == 0) {
                                    myWeldArray[i].myWelMSline_1 = mtempline3
                                    myWeldArray[i].myWelMSStorEdorMd_1 = "Mid"
                                    myWeldArray[i].myWelMS_num = 1
                                }
                                else if (myWeldArray[i].myWelMS_num == 1) {
                                    myWeldArray[i].myWelMSline_2 = mtempline3
                                    myWeldArray[i].myWelMSStorEdorMd_2 = "Mid"
                                    myWeldArray[i].myWelMS_num = 2
                                }
                                else if (myWeldArray[i].myWelMS_num == 2) {
                                    myWeldArray[i].myWelMSline_3 = mtempline3
                                    myWeldArray[i].myWelMSStorEdorMd_3 = "Mid"
                                    myWeldArray[i].myWelMS_num = 3
                                }
                            }
                            else if (tempDisStr == "down") {
                                if (myWeldArray[i].myWelMX_num == 0) {
                                    myWeldArray[i].myWelMXline_1 = mtempline3
                                    myWeldArray[i].myWelMXStorEdorMd_1 = "Mid"
                                    myWeldArray[i].myWelMX_num = 1
                                }
                                else if (myWeldArray[i].myWelMX_num == 1) {
                                    myWeldArray[i].myWelMXline_2 = mtempline3
                                    myWeldArray[i].myWelMXStorEdorMd_2 = "Mid"
                                    myWeldArray[i].myWelMX_num = 2
                                }
                                else if (myWeldArray[i].myWelMX_num == 2) {
                                    myWeldArray[i].myWelMXline_3 = mtempline3
                                    myWeldArray[i].myWelMXStorEdorMd_3 = "Mid"
                                    myWeldArray[i].myWelMX_num = 3
                                }
                            }
                            else if (tempDisStr == "mid") {
                                if (myWeldArray[i].myWelMid_num == 0) {
                                    myWeldArray[i].myWelMidline_1 = mtempline3
                                    myWeldArray[i].myWelMid_num = 1
                                }
                                else if (myWeldArray[i].myWelMid_num == 1) {
                                    myWeldArray[i].myWelMidline_2 = mtempline3
                                    myWeldArray[i].myWelMid_num = 2
                                }
                            }
                        }
                    }
                }

                for (var fouri = 0; fouri < FourMP_PolyLArray.length; fouri++) {

                    if (FourMP_PolyLArray[fouri].ObjectID == myWeldArray[i].myWelYINline1.myPolyLineObjectID) {
                        continue;
                    }
                    else if (myWeldArray[i].myWelYINnum == 2 && FourMP_PolyLArray[fouri].ObjectID == myWeldArray[i].myWelYINline2.myPolyLineObjectID) {
                        continue;
                    }

                    var mtempline4 = new myPolyLine(FourMP_PolyLArray[fouri].ObjectID, FourMP_PolyLArray[fouri].numVerts, FourMP_PolyLArray[fouri].GetPointAt(0), FourMP_PolyLArray[fouri].GetPointAt(FourMP_PolyLArray[fouri].numVerts - 1), null, "")

                    if (IsPointOnLine(FourMP_PolyLArray[fouri].GetPointAt(0), myGuaiP, myWeiP)) {

                        var tempDisStr = GetPositionOfLine(FourMP_PolyLArray[fouri], myGuaiP, myWeiP)
                        if (tempDisStr == "up") {
                            if (myWeldArray[i].myWelMS_num == 0) {
                                myWeldArray[i].myWelMSline_1 = mtempline4
                                myWeldArray[i].myWelMSStorEdorMd_1 = "Start"
                                myWeldArray[i].myWelMS_num = 1
                            }
                            else if (myWeldArray[i].myWelMS_num == 1) {
                                myWeldArray[i].myWelMSline_2 = mtempline4
                                myWeldArray[i].myWelMSStorEdorMd_2 = "Start"
                                myWeldArray[i].myWelMS_num = 2
                            }
                            else if (myWeldArray[i].myWelMS_num == 2) {
                                myWeldArray[i].myWelMSline_3 = mtempline4
                                myWeldArray[i].myWelMSStorEdorMd_3 = "Start"
                                myWeldArray[i].myWelMS_num = 3
                            }
                        }
                        else if (tempDisStr == "down") {
                            if (myWeldArray[i].myWelMX_num == 0) {
                                myWeldArray[i].myWelMXline_1 = mtempline4
                                myWeldArray[i].myWelMXStorEdorMd_1 = "Start"
                                myWeldArray[i].myWelMX_num = 1
                            }
                            else if (myWeldArray[i].myWelMX_num == 1) {
                                myWeldArray[i].myWelMXline_2 = mtempline4
                                myWeldArray[i].myWelMXStorEdorMd_2 = "Start"
                                myWeldArray[i].myWelMX_num = 2
                            }
                            else if (myWeldArray[i].myWelMX_num == 2) {
                                myWeldArray[i].myWelMXline_3 = mtempline4
                                myWeldArray[i].myWelMXStorEdorMd_3 = "Start"
                                myWeldArray[i].myWelMX_num = 3
                            }
                        }
                        else if (tempDisStr == "mid") {
                            if (myWeldArray[i].myWelMid_num == 0) {
                                myWeldArray[i].myWelMidline_1 = mtempline4
                                myWeldArray[i].myWelMid_num = 1
                            }
                            else if (myWeldArray[i].myWelMid_num == 1) {
                                myWeldArray[i].myWelMidline_2 = mtempline4
                                myWeldArray[i].myWelMid_num = 2
                            }
                        }
                    }

                    else if (IsPointOnLine(FourMP_PolyLArray[fouri].GetPointAt(FourMP_PolyLArray[fouri].numVerts - 1), myGuaiP, myWeiP)) {
                        var tempDisStr = GetPositionOfLine(FourMP_PolyLArray[fouri], myGuaiP, myWeiP)
                        if (tempDisStr == "up") {
                            if (myWeldArray[i].myWelMS_num == 0) {
                                myWeldArray[i].myWelMSline_1 = mtempline4
                                myWeldArray[i].myWelMSStorEdorMd_1 = "End"
                                myWeldArray[i].myWelMS_num = 1
                            }
                            else if (myWeldArray[i].myWelMS_num == 1) {
                                myWeldArray[i].myWelMSline_2 = mtempline4
                                myWeldArray[i].myWelMSStorEdorMd_2 = "End"
                                myWeldArray[i].myWelMS_num = 2
                            }
                            else if (myWeldArray[i].myWelMS_num == 2) {
                                myWeldArray[i].myWelMSline_3 = mtempline4
                                myWeldArray[i].myWelMSStorEdorMd_3 = "End"
                                myWeldArray[i].myWelMS_num = 3
                            }
                        }
                        else if (tempDisStr == "down") {
                            if (myWeldArray[i].myWelMX_num == 0) {
                                myWeldArray[i].myWelMXline_1 = mtempline4
                                myWeldArray[i].myWelMXStorEdorMd_1 = "End"
                                myWeldArray[i].myWelMX_num = 1
                            }
                            else if (myWeldArray[i].myWelMX_num == 1) {
                                myWeldArray[i].myWelMXline_2 = mtempline4
                                myWeldArray[i].myWelMXStorEdorMd_2 = "End"
                                myWeldArray[i].myWelMX_num = 2
                            }
                            else if (myWeldArray[i].myWelMX_num == 2) {
                                myWeldArray[i].myWelMXline_3 = mtempline4
                                myWeldArray[i].myWelMXStorEdorMd_3 = "End"
                                myWeldArray[i].myWelMX_num = 3
                            }
                        }
                        else if (tempDisStr == "mid") {
                            if (myWeldArray[i].myWelMid_num == 0) {
                                myWeldArray[i].myWelMidline_1 = mtempline4
                                myWeldArray[i].myWelMid_num = 1
                            }
                            else if (myWeldArray[i].myWelMid_num == 1) {
                                myWeldArray[i].myWelMidline_2 = mtempline4
                                myWeldArray[i].myWelMid_num = 2
                            }
                        }
                    }
                }
            }
            return myWeldArray
        }
        //---5---------初步划分焊接符号类型
        function FirstDivideWelding(myWeldArray, TwoP_PolyLArray, ThreeP_PolyLArray, FourMP_PolyLArray) {
            var num = myWeldArray.length
            var m_SM_J_WeldArray = [];
            for (var i = 0; i < num; i++) {

                var nG = myWeldArray[i].myWelGH_num;
                var nW = myWeldArray[i].myWelWH_num;
                var nS = myWeldArray[i].myWelMS_num;
                var nX = myWeldArray[i].myWelMX_num;
                var nM = myWeldArray[i].myWelMid_num;

                if (nG == 0 && nW == 0 && nS == 1 && nX == 0 && nM == 1) {

                    if (myWeldArray[i].myWelMSline_1.myPolyPNum == 3 && myWeldArray[i].myWelMidline_1.myPolyPNum == 3) {
                        if (CheckAngleIn(myWeldArray[i].myWelMSline_1.myPolyMid, myWeldArray[i].myWelMSline_1.myPolyStartP, myWeldArray[i].myWelMSline_1.myPolyEndP, 47, 43)
                            && CheckAngleIn(myWeldArray[i].myWelMidline_1.myPolyMid, myWeldArray[i].myWelMidline_1.myPolyStartP, myWeldArray[i].myWelMidline_1.myPolyEndP, 47, 43)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }

                    if (myWeldArray[i].myWelMSline_1.myPolyPNum == 2 && myWeldArray[i].myWelMidline_1.myPolyPNum == 3) {
                        if (CheckLineType(myWeldArray[i].myWelMSline_1.myPolyStartP, myWeldArray[i].myWelMSline_1.myPolyEndP) == "X"
                            && CheckAngleIn(myWeldArray[i].myWelMidline_1.myPolyMid, myWeldArray[i].myWelMidline_1.myPolyStartP, myWeldArray[i].myWelMidline_1.myPolyEndP, 47, 38)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }
                }

                else if (nG == 0 && nW == 0 && nS == 0 && nX == 0 && nM == 1) {
                    if (myWeldArray[i].myWelMidline_1.myPolyPNum == 6) {
                        var templine = FindLineFromArray(myWeldArray[i].myWelMidline_1.myPolyLineObjectID, FourMP_PolyLArray)
                        if (CheckAngleIn(templine.GetPointAt(2), templine.GetPointAt(1), templine.GetPointAt(4), 92, 88)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }
                    else if (myWeldArray[i].myWelMidline_1.myPolyPNum == 3 && myWeldArray[i].myWelMidline_1.myPolyCHSE != "Mid") {
                        if (CheckAngleIn(myWeldArray[i].myWelMidline_1.myPolyStartP, myWeldArray[i].myWelMidline_1.myPolyMid, myWeldArray[i].myWelMidline_1.myPolyEndP, 92, 88)
                            || CheckAngleIn(myWeldArray[i].myWelMidline_1.myPolyEndP, myWeldArray[i].myWelMidline_1.myPolyStartP, myWeldArray[i].myWelMidline_1.myPolyMid, 92, 88)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }
                }
                else if (nG == 0 && nW == 0 && nS == 1 && nX == 1 && nM == 0) {
                    if (myWeldArray[i].myWelMSline_1.myPolyPNum == 3 && myWeldArray[i].myWelMSStorEdorMd_1 != "Mid"
                        && myWeldArray[i].myWelMXline_1.myPolyPNum == 3 && myWeldArray[i].myWelMXStorEdorMd_1 != "Mid") {
                        if (CheckAngleIn(myWeldArray[i].myWelMSline_1.myPolyMid, myWeldArray[i].myWelMSline_1.myPolyStartP, myWeldArray[i].myWelMSline_1.myPolyEndP, 48, 43)
                            && CheckAngleIn(myWeldArray[i].myWelMXline_1.myPolyMid, myWeldArray[i].myWelMXline_1.myPolyStartP, myWeldArray[i].myWelMXline_1.myPolyEndP, 48, 43)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }
                }
                else if (nG == 0 && nW == 0 && nS == 1 && nX == 1 && nM == 1) {
                    if (myWeldArray[i].myWelMSline_1.myPolyPNum == 2 && myWeldArray[i].myWelMXline_1.myPolyPNum == 2 && myWeldArray[i].myWelMidline_1.myPolyPNum == 2) {
                        if (CheckAngleIn(myWeldArray[i].myWelMidline_1.myPolyStartP, myWeldArray[i].myWelMidline_1.myPolyEndP, myWeldArray[i].myWelMSline_1.myPolyStartP, 47, 38)
                            && CheckAngleIn(myWeldArray[i].myWelMidline_1.myPolyStartP, myWeldArray[i].myWelMidline_1.myPolyEndP, myWeldArray[i].myWelMSline_1.myPolyEndP, 47, 38)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }
                    else if (myWeldArray[i].myWelMSline_1.myPolyPNum == 3 && myWeldArray[i].myWelMXline_1.myPolyPNum == 3 && myWeldArray[i].myWelMidline_1.myPolyPNum == 2) {
                        if (CheckAngleIn(myWeldArray[i].myWelMSline_1.myPolyMid, myWeldArray[i].myWelMSline_1.myPolyStartP, myWeldArray[i].myWelMSline_1.myPolyEndP, 52, 43)
                            && CheckAngleIn(myWeldArray[i].myWelMXline_1.myPolyMid, myWeldArray[i].myWelMXline_1.myPolyStartP, myWeldArray[i].myWelMXline_1.myPolyEndP, 52, 43)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }
                    else if (myWeldArray[i].myWelMSline_1.myPolyPNum == 3 && myWeldArray[i].myWelMXline_1.myPolyPNum == 2 && myWeldArray[i].myWelMidline_1.myPolyPNum == 2) {
                        if (CheckAngleIn(myWeldArray[i].myWelMSline_1.myPolyMid, myWeldArray[i].myWelMSline_1.myPolyStartP, myWeldArray[i].myWelMSline_1.myPolyEndP, 52, 43)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }
                    else if (myWeldArray[i].myWelMSline_1.myPolyPNum == 2 && myWeldArray[i].myWelMXline_1.myPolyPNum == 3 && myWeldArray[i].myWelMidline_1.myPolyPNum == 2) {
                        if (CheckAngleIn(myWeldArray[i].myWelMXline_1.myPolyMid, myWeldArray[i].myWelMXline_1.myPolyStartP, myWeldArray[i].myWelMXline_1.myPolyEndP, 52, 43)) {
                            m_SM_J_WeldArray[m_SM_J_WeldArray.length] = myWeldArray[i];
                        }
                    }
                }
            }
            ChangeWeldColor(m_SM_J_WeldArray, 3)
        }
        function myArrow(m_ObjectID, m_DingP, m_DiA, m_DiB, m_Mid) {
            this.myArrowObjectID = m_ObjectID;
            this.myArrowDingP = m_DingP;
            this.myArrowDiA = m_DiA;
            this.myArrowDiB = m_DiB;
            this.myArrowMid = m_Mid;
        }
        function myPolyLine(m_ObjectID, m_Pnum, m_StartP, m_EndP, m_MidP, m_CHStarOREnd) {
            this.myPolyLineObjectID = m_ObjectID;
            this.myPolyPNum = m_Pnum;
            this.myPolyStartP = m_StartP;
            this.myPolyEndP = m_EndP;
            this.myPolyMid = m_MidP;
            this.myPolyCHSE = m_CHStarOREnd;
        }
        function myCAnnotation(m_Arrow, m_Line1, m_CHStartOREnd, m_CHPoint) {
            this.myCAnnotationArrow = m_Arrow;
            this.myCAnnotationLine = m_Line1;
            this.myCAnnotationCHSE = m_CHStartOREnd;
            this.myCAnnotationCHP = m_CHPoint;
        }
        function myWelding(m_Arrow, m_YINLine1, m_YINLine2, m_HLength, m_CHStartOREnd, m_CHPoint, m_YIN_num,
            m_GUAIPoint, m_WEIPoint, m_GHline_1, m_GHline_2, m_GHArc, m_GH_num, m_GHPoint_1,
            m_GHPoint_2, m_WHline_1, m_WHline_2, m_WH_num, m_WHPoint_1, m_WHPoint_2,
            m_MSline_1, m_MSStorEdorMd_1, m_MSline_2, m_MSStorEdorMd_2, m_MSline_3, m_MSStorEdorMd_3, m_MS_num,
            m_MXline_1, m_MXStorEdorMd_1, m_MXline_2, m_MXStorEdorMd_2, m_MXline_3, m_MXStorEdorMd_3, m_MX_num,
            m_Midline_1, m_Midline_2, m_Mid_num, m_UPline_1, m_UPline_2, m_UPline_3, m_UP_num,
            m_XXline_1, m_XXline_2, m_XXline_3, m_XXline_4, m_XXline_5, m_XXline_6, m_XXline_7, m_XXline_8, m_XXline_9, m_XXline_10, m_XX_num,
            m_DOWNline_1, m_DOWNline_2, m_DOWNline_3, m_DOWN_num) {
            this.myWelArrow = m_Arrow;
            this.myWelYINline1 = m_YINLine1;
            this.myWelYINline2 = m_YINLine2;
            this.myWelHLength = m_HLength;
            this.myWelCHSE = m_CHStartOREnd;
            this.myWelCHP = m_CHPoint;
            this.myWelYINnum = m_YIN_num;
            this.myWelGUIP = m_GUAIPoint;
            this.myWelWEIP = m_WEIPoint;

            this.myWelGHline1 = m_GHline_1;
            this.myWelGHline2 = m_GHline_2;
            this.myWelGHArc = m_GHArc;
            this.myWelGH_num = m_GH_num;
            this.myWelGHPoint_1 = m_GHPoint_1;
            this.myWelGHPoint_2 = m_GHPoint_2;

            this.myWelWHline_1 = m_WHline_1;
            this.myWelWHline_2 = m_WHline_2;
            this.myWelWH_num = m_WH_num;
            this.myWelWHPoint_1 = m_WHPoint_1;
            this.myWelWHPoint_2 = m_WHPoint_2;

            this.myWelMSline_1 = m_MSline_1;
            this.myWelMSStorEdorMd_1 = m_MSStorEdorMd_1;
            this.myWelMSline_2 = m_MSline_2;
            this.myWelMSStorEdorMd_2 = m_MSStorEdorMd_2;
            this.myWelMSline_3 = m_MSline_3;
            this.myWelMSStorEdorMd_3 = m_MSStorEdorMd_3;
            this.myWelMS_num = m_MS_num;

            this.myWelMXline_1 = m_MXline_1;
            this.myWelMXStorEdorMd_1 = m_MXStorEdorMd_1;
            this.myWelMXline_2 = m_MXline_2;
            this.myWelMXStorEdorMd_2 = m_MXStorEdorMd_2;
            this.myWelMXline_3 = m_MXline_3;
            this.myWelMXStorEdorMd_3 = m_MXStorEdorMd_3;
            this.myWelMX_num = m_MX_num;

            this.myWelMidline_1 = m_Midline_1;
            this.myWelMidline_2 = m_Midline_2;
            this.myWelMid_num = m_Mid_num;

            this.myWelUPline_1 = m_UPline_1;
            this.myWelUPline_2 = m_UPline_2;
            this.myWelUPline_3 = m_UPline_3;
            this.myWelUP_num = m_UP_num;

            this.myWelXXline_1 = m_XXline_1;
            this.myWelXXline_2 = m_XXline_2;
            this.myWelXXline_3 = m_XXline_3;
            this.myWelXXline_4 = m_XXline_4;
            this.myWelXXline_5 = m_XXline_5;
            this.myWelXXline_6 = m_XXline_6;
            this.myWelXXline_7 = m_XXline_7;
            this.myWelXXline_8 = m_XXline_8;
            this.myWelXXline_9 = m_XXline_9;
            this.myWelXXline_10 = m_XXline_10;
            this.myWelXX_num = m_XX_num;

            this.myWelDOWNline_1 = m_DOWNline_1;
            this.myWelDOWNline_2 = m_DOWNline_2;
            this.myWelDOWNline_3 = m_DOWNline_3;
            this.myWelDOWN_num = m_DOWN_num;
        }
        function IsSamePoint(pA1, pA2) {
            var d = 0.005;
            if (pA1.x == pA2.x && pA1.y == pA2.y && pA1.z == pA2.z) {
                return true;
            }
            else if (((pA1.x <= pA2.x + d && pA1.x >= pA2.x - d) || (pA2.x <= pA1.x + d && pA2.x >= pA1.x - d))
                && ((pA1.y <= pA2.y + d && pA1.y >= pA2.y - d) || (pA2.y <= pA1.y + d && pA2.y >= pA1.y - d))) {
                return true;
            }
            else {
                return false;
            }
        }
        function IsNearPoint(pA1, pA2) {
            var d = 0.05;
            if (pA1.x == pA2.x && pA1.y == pA2.y) {
                return true;
            }
            else if (((pA1.x <= pA2.x + d && pA1.x >= pA2.x - d) || (pA2.x <= pA1.x + d && pA2.x >= pA1.x - d))
                && ((pA1.y <= pA2.y + d && pA1.y >= pA2.y - d) || (pA2.y <= pA1.y + d && pA2.y >= pA1.y - d))) {
                return true;
            }
            else {
                return false;
            }
        }
        function IsHorizontal(pA1, pA2) {
            if (pA1.x != pA2.x && pA1.y == pA2.y) {
                return true;
            }
            else if (pA1.x != pA2.x && ((pA1.y <= pA2.y + 0.001 && pA1.y >= pA2.y - 0.001) || (pA2.y <= pA1.y + 0.001 && pA2.y >= pA1.y - 0.001))) {
                return true;
            }
            else {
                return false;
            }
        }
        function IsVertical(pA1, pA2) {
            if (pA1.y != pA2.y && pA1.x == pA2.x) {
                return true;
            }
            else if (pA1.y != pA2.y && ((pA1.x <= pA2.x + 0.001 && pA1.x >= pA2.x - 0.001) || (pA2.x <= pA1.x + 0.001 && pA2.x >= pA1.x - 0.001))) {
                return true;
            }
            else {
                return false;
            }
        }
        function CheckLineType(pA1, pA2) {
            var str = "";
            if (IsHorizontal(pA1, pA2)) {
                str = "H"
            }
            else if (IsVertical(pA1, pA2)) {
                str = "V"
            }
            else {
                str = "X"
            }
            return str
        }
        function GetDisFromTwoPoint(pA1, pA2) {
            var mdis;
            mdis = Math.sqrt(Math.pow((pA1.x - pA2.x), 2) + Math.pow((pA1.y - pA2.y), 2));
            return mdis;
        }
        function GetMaxData(mData1, mData2) {
            if (mData1 >= mData2) {
                return mData1;
            }
            else {
                return mData2;
            }
        }
        function CheckLineInHLine(LoneP1, LoneP2, HLP1, HLP2) {
            var bl = false;
            if (IsHorizontal(LoneP1, LoneP2) && LoneP1.y == HLP1.y) {
                if (LoneP1.x >= LoneP2.x) {
                    if (HLP1.x > HLP2.x) {
                        if (LoneP1.x <= HLP1.x && LoneP2.x >= HLP2.x) {
                            bl = true;
                        }
                    }
                    else {
                        if (LoneP1.x <= HLP2.x && LoneP2.x >= HLP1.x) {
                            bl = true;
                        }
                    }
                }
                else {
                    if (HLP1.x > HLP2.x) {
                        if (LoneP2.x <= HLP1.x && LoneP1.x >= HLP2.x) {
                            bl = true;
                        }
                    }
                    else {
                        if (LoneP2.x <= HLP2.x && LoneP1.x >= HLP1.x) {
                            bl = true;
                        }
                    }
                }
            }
            return bl;
        }
        function IsPointOnLine(pA, pB, pC) {
            var bl = false;
            var td = 0.05;
            if (pB.x >= pC.x) {
                if (pA.x < pB.x && pA.x > pC.x
                    && pA.y >= pB.y - td && pA.y <= pB.y + td) {
                    bl = true;

                }
            }
            else {
                if (pA.x > pB.x && pA.x < pC.x
                    && pA.y >= pB.y - td && pA.y <= pB.y + td) {
                    bl = true;

                }
            }
            return bl;
        }
        function GetPositionOfLine(mLine, pB, pC) {
            var mrest = "";
            var up_num = 0;
            var down_num = 0;
            var n = mLine.numVerts;
            for (var i = 0; i < n; i++) {
                var mstr = GetPositionOfPoint(mLine.GetPointAt(i), pB, pC, 0.05)
                if (mstr == "up") {
                    up_num = up_num + 1;
                }
                else if (mstr == "down") {
                    down_num = down_num + 1;
                }
            }
            if (up_num != 0 && down_num == 0) {
                mrest = "up";
            }
            else if (up_num == 0 && down_num != 0) {
                mrest = "down";
            }
            else {
                mrest = "mid";
            }

            return mrest;

        }
        function GetPositionOfPoint(pA, pB, pC, dd) {
            var mstr = "";
            if (pB.x > pC.x) {
                if (pA.x < pB.x && pA.x > pC.x) {
                    if (pA.y > pB.y + dd) {
                        mstr = "up";
                    }
                    else if (pA.y < pB.y - dd) {
                        mstr = "down";
                    }
                }
            }
            else {
                if (pA.x < pC.x && pA.x > pB.x) {
                    if (pA.y > pB.y + dd) {
                        mstr = "up";
                    }
                    else if (pA.y < pB.y - dd) {
                        mstr = "down";
                    }
                }
            }
            return mstr;
        }
        function IsLineInterWithHYinLine(StartP, EndP, GuaiP, WeiP) {
            var bl = false;
            var max_X = 0;
            var min_X = 0;
            if (GuaiP.x >= WeiP.x) {
                max_X = GuaiP.x;
                min_X = WeiP.x;
            }
            else {
                max_X = WeiP.x;
                min_X = GuaiP.x;
            }
            if (IsVertical(StartP, EndP)) {
                if (StartP.x < max_X && StartP.x > min_X
                    && EndP.x < max_X && EndP.x > min_X) {
                    bl = true;
                }
            }
            return bl;
        }

        function GetXXline(sPoint1, sPoint2, direction, dis, TwoP_PolyLineArray) {
            var mResLineArray = []
            var num = TwoP_PolyLineArray.length;
            var max_X, min_X, max_Y, min_Y;
            var td = 0.2 * GetDisFromTwoPoint(sPoint1, sPoint2)
            if (sPoint1.x >= sPoint2.x) {
                max_X = sPoint1.x + td;
                min_X = sPoint2.x - td;
            }
            else {
                max_X = sPoint2.x + td;
                min_X = sPoint1.x - td;
            }
            if (direction == "down") {
                max_Y = sPoint1.y;
                min_Y = sPoint1.y - dis;
            }
            else if (direction == "up") {
                max_Y = sPoint1.y + dis;
                min_Y = sPoint1.y;
            }
            for (var i = 0; i < num; i++) {
                if (IsHorizontal(TwoP_PolyLineArray[i].GetPointAt(0), TwoP_PolyLineArray[i].GetPointAt(1))) {
                    if (TwoP_PolyLineArray[i].GetPointAt(0).x <= max_X && TwoP_PolyLineArray[i].GetPointAt(0).x >= min_X
                        && TwoP_PolyLineArray[i].GetPointAt(1).x <= max_X && TwoP_PolyLineArray[i].GetPointAt(1).x >= min_X
                        && TwoP_PolyLineArray[i].GetPointAt(0).y <= max_Y && TwoP_PolyLineArray[i].GetPointAt(0).y >= min_Y) {
                        mResLineArray[mResLineArray.length] = TwoP_PolyLineArray[i]
                    }
                }
            }
            return mResLineArray
        }
        function CheckAngleIn(pA, pB, pC, maxA, minA) {
            var mAngle = GetAngleFrom3Point(pA, pB, pC);
            if (mAngle <= maxA && mAngle >= minA) {
                return true;
            }
            else {
                return false;
            }
        }
        function GetAngleFrom3Point(pA, pB, pC) {
            var mAngle_A;
            var mAB, mAC, mCosA;
            mAB = Math.sqrt((pB.x - pA.x) * (pB.x - pA.x) + (pB.y - pA.y) * (pB.y - pA.y));
            mAC = Math.sqrt((pC.x - pA.x) * (pC.x - pA.x) + (pC.y - pA.y) * (pC.y - pA.y));
            mCosA = ((pB.x - pA.x) * (pC.x - pA.x) + (pB.y - pA.y) * (pC.y - pA.y)) / (mAB * mAC);
            mAngle_A = Math.acos(mCosA) * 180 / 3.1415926;
            return mAngle_A;
        }
        function FindLineFromArray(myObjectID, PolyLineArray) {
            var num = PolyLineArray.length
            var myline = null
            for (var i = 0; i < num; i++) {
                if (PolyLineArray[i].ObjectID == myObjectID) {
                    myline = PolyLineArray[i]
                    break;
                }
            }
            return myline;

        }

        function DeletSameArrow(ArrowArray) {
            var mNSameArrowArray = [];
            var snum = 0;
            var mbl = false;
            var num = ArrowArray.length;
            for (var i = 0; i < num; i++) {
                mbl = false;
                snum = mNSameArrowArray.length;
                for (var j = 0; j < snum; j++) {
                    if (IsSamePoint(ArrowArray[i].myArrowDiA, mNSameArrowArray[j].myArrowDiA)
                        && IsSamePoint(ArrowArray[i].myArrowDiB, mNSameArrowArray[j].myArrowDiB)
                        && IsSamePoint(ArrowArray[i].myArrowDingP, mNSameArrowArray[j].myArrowDingP)) {
                        mbl = true;
                        break;
                    }
                }
                if (mbl == false) {
                    mNSameArrowArray[mNSameArrowArray.length] = ArrowArray[i]
                }
            }
            return mNSameArrowArray
        }
        function DeletSamePolyLine(polyLArray) {
            var snum = 0;
            var bool = false;
            var num = polyLArray.length;
            var NSPolyLineArr = [];
            for (var i = 0; i < num; i++) {
                mbl = false;
                snum = NSPolyLineArr.length;
                for (var j = 0; j < snum; j++) {
                    var pnum = polyLArray[i].numVerts
                    var blnum = 0;
                    for (var t = 0; t < pnum; t++) {
                        if (IsSamePoint(polyLArray[i].GetPointAt(t), NSPolyLineArr[j].GetPointAt(t))) {
                            blnum = blnum + 1;
                        }
                        else {
                            blnum = 0;
                            break;
                        }
                    }
                    if (blnum == pnum) {
                        mbl = true;
                        break;
                    }
                }
                if (mbl == false) {
                    NSPolyLineArr[NSPolyLineArr.length] = polyLArray[i];
                }
            }
            return NSPolyLineArr;
        }
        function ChangeWeldColor(myWeldArray, myColorID) {

            var mxOcx = document.all.item("MxDrawXCtrl");
            var database = mxOcx.GetDatabase();
            var num = myWeldArray.length
            var ent;
            for (var i = 0; i < num; i++) {

                if (myWeldArray[i].myWelYINnum == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelYINline1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelYINnum == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelYINline1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelYINline2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }

                if (myWeldArray[i].myWelGH_num == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelGHline1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelGH_num == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelGHline1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelGHline2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }

                if (myWeldArray[i].myWelWH_num == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelWHline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelWH_num == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelWHline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelWHline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }

                if (myWeldArray[i].myWelMS_num == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMSline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelMS_num == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMSline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMSline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelMS_num == 3) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMSline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMSline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMSline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }

                if (myWeldArray[i].myWelMX_num == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelMX_num == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelMX_num == 3) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }

                if (myWeldArray[i].myWelMid_num == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMidline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelMid_num == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMidline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelMidline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }

                if (myWeldArray[i].myWelUP_num == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelUPline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelUP_num == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelUPline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelUPline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelUP_num == 3) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelUPline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelUPline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelUPline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }

                if (myWeldArray[i].myWelXX_num == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 3) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 4) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_4.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 5) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_4.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_5.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 6) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_4.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_5.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_6.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 7) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_4.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_5.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_6.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_7.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 8) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_4.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_5.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_6.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_7.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_8.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 9) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_4.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_5.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_6.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_7.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_8.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_9.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelXX_num == 10) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_4.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_5.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_6.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_7.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_8.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_9.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelXXline_10.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }

                if (myWeldArray[i].myWelDOWN_num == 1) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelDOWNline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelDOWN_num == 2) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelDOWNline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelDOWNline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
                else if (myWeldArray[i].myWelDOWN_num == 3) {
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelDOWNline_1.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelDOWNline_2.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                    ent = database.ObjectIdToObject(myWeldArray[i].myWelDOWNline_3.myPolyLineObjectID);
                    ent.ColorIndex = myColorID
                }
            }

        }

    </script>
    </p>
</html>