<style>
    input, select {
        font-size: 16px;
        border: 1px solid #CFCFCE;
    }
</style>
<div id="ModalTable">
    <form method="POST" id="Basicform" class="form-horizontal">
      
    </form>
</div>

@section scripts_Foot
{

    <script type="text/javascript">

        $(document).ready(function () {
           

    </script>
}