@using DLYB.CA.Service.Common;
@using Infrastructure.Web.UI.Resources;
@using System.Linq;
@using Infrastructure.Web.Domain.Entity;
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>

</body>
</html>
